*{
	margin:0px;
	padding:0px;
	list-style:none;
}
#sliderBoard{
	width:300px;
    height:300px;
	margin:50px auto;
	overflow:hidden;
	
}
#sliderBoard ul{
	width:1500px;
    height:300px;
	position:relative;
	left:0px;
	animation:slide 5s 3;
}
#sliderBoard li{
    width:300px;
    height:300px;
	color:#fff;
	float:left;
	
}
#sliderBoard li:nth-child(1){background:red;}
#sliderBoard li:nth-child(2){background:blue;}
#sliderBoard li:nth-child(3){background:yellow;}
#sliderBoard li:nth-child(4){background:green;}
#sliderBoard li:nth-child(5){background:black;}

@keyframes slide{
	0%{left:0px;}
	10%{left:0px;}
	20%{left:-300px;}
	30%{left:-300px;}
	40%{left:-600px;}
	50%{left:-600px;}
	60%{left:-900px;}
	70%{left:-900px;}
	80%{left:-1200px;}
	90%{left:-1200px;}
}





