@keyframes slide{
	0%,100%{margin-left:0px;}
	50%{margin-left:400px;}
	
}
div{
	width:200px;
	height:200px;
	background:#ccc;
	margin:10px;
}
div:nth-child(1){animation:slide 1s 0s 3 alternate;}
div:nth-child(2){animation:slide 1s 0.5s 3 alternate;}
div:nth-child(3){animation:slide 1s 1s 3 alternate;}
div:nth-child(4){animation:slide 1s 1.5s 3 alternate;}


