.travelLocation{
	width:80%;
	margin:20px auto;
	border:1px solid #aaa;
	border-radius:10px;
	padding:10px;
}
.left{
	/*border:1px solid red;*/
	width:40%;
	float:left;
}
.right{
	/*border:1px solid red;*/
	width:58%;
	float:left;
}
img{
	width:270px;
	padding:10px;
}
header,footer{
	margin-top:10px;
}
header span{
	/*border:1px solid red;*/
}
header span:nth-child(2){
	float:right;
}

